@{
    ViewBag.Title = "Contact Us";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>We can help you find your missing pets</h2>
</hgroup>

<div class="float-right">
    <img src="/Content/Images/found-dog.jpg"/>
</div>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>425.555.0100</span>
    </p>
    <p>
        <span class="label">After Hours:</span>
        <span>425.555.0199</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Office:</span>
        <span><a href="mailto:office@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">Street Agents:</span>
        <span><a href="mailto:street@example.com">Marketing@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        P.O. Box 3085<br />
        Federal Way, WA 98063
    </p>
</section>

<section class="contact">
    <header>
        <h3>Lost Pet Help</h3>
    </header>
    <p>
        If you need assistance finding a missing pet, please consider using your facebook account to register them 
        as "lost" and let the comunity help you find them. Don't forget to Update your pet data once your found 
        them.
    </p>
    <p>You may also search for pet detectives in your area by calling us and asking for a date.</p> 
</section>

